  .container-sidebar-entry {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .entry-title {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 10px; /* 增大圆角 */
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    user-select: none;
  }

  .container-group-link {
    font-size: 0.875rem;
    line-height: 1.25rem;
    gap: 0.125rem;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    display: grid;
  }

  .entry-link {
    text-underline-offset: 2px;
    color: var(--accent-foreground);
    font-weight: 400;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 10px; /* 增大圆角 */
    align-items: center;
    width: 100%;
    height: 2rem;
    display: flex;
    color: inherit;
    text-decoration: inherit;
    border: none; /* 移除边框 */
  }

  .entry-link[aria-current='page'] {
    background-color: var(--accent);
  }

  .entry-link:hover {
    color: var(--accent-foreground);
    background-color: var(--accent);
  }

  .entry-badge {
    color: rgb(0 0 0);
    line-height: 1;
    font-size: 0.75rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    background-color: rgb(173 250 29);
    border-radius: 10px; /* 增大圆角 */
    margin-left: 0.5rem;
    border: none; /* 移除边框 */
  }