---
import MobileTableOfContents from '@astrojs/starlight/components/MobileTableOfContents.astro';
import MobileMenuToggle from '@astrojs/starlight/components/MobileMenuToggle.astro';
import SiteTitle from '@astrojs/starlight/components/SiteTitle.astro';

const { hasSidebar } = Astro.locals.starlightRoute;
---

<div class="page sl-flex">
	{
		hasSidebar && (
			<nav class="sidebar print:hidden" aria-label={Astro.locals.t('sidebarNav.accessibleLabel')}>
				<MobileMenuToggle />
				<div id="starlight__sidebar" class="sidebar-pane">
					<div class="sidebar-content sl-flex">
						<slot name="sidebar" />
					</div>
				</div>
			</nav>
		)
	}
	<div class="main-frame"><slot /></div>
</div>
<style>
	@layer starlight.core {
		.page {
			flex-direction: column;
			min-height: 100vh;
		}

		.sidebar-pane {
			visibility: var(--sl-sidebar-visibility, hidden);
			position: fixed;
			z-index: var(--sl-z-index-menu);
			inset-block: 0 0;
			inset-inline-start: 0;
			width: 100%;
			background-color: var(--sl-color-black);
			/* 关键修改：移除 overflow-y: auto; */
			overflow: hidden; /* 改为 hidden，不让这层滚动 */
		}

		:global([aria-expanded='true']) ~ .sidebar-pane {
			--sl-sidebar-visibility: visible;
		}

		.sidebar-content {
			height: 100%;
			min-height: 100%;
			padding: 0.5rem 0.5rem 0;
			flex-direction: column;
			gap: 0.8rem;
		}

		@media (min-width: 50rem) {
			.sidebar-content::after {
				content: '';
				padding-bottom: 1px;
			}
		}

		.main-frame {
			padding-inline-start: var(--sl-content-inline-start);
		}

		@media (min-width: 50rem) {
			.sidebar-pane {
				--sl-sidebar-visibility: visible;
				width: var(--sl-sidebar-width);
				background-color: var(--sl-color-bg-sidebar);
				border-inline-end: 1px solid var(--sl-color-hairline-shade);
			}
		}
	}
</style>
